// body {
//     background-color: pink;

//     @media (orientation: landscape) { // landscape / portrait
//         background-color: lime;
//     } 

//     @media (min-width: 768px) and (max-width: 1279px) {
//         background-color: blue;
//     }

//     @media (min-width: 1280px) {
//         background-color: purple;
//     }
    
//     @media print {
//         background-color: white;
//     }
// }





