// .ShowsList {
//     display: flex;
//     flex-wrap: wrap

//     &__item {
//         width: 100%;

//         @media (min-width: 640px) {
//             width: 50%;
//         }

//         @media (min-width: 1024px) {
//             width: 33.3333%;
//         }

//         @media (min-width: 1280px) {
//             width: 25%;
//         }
//     }
// }